{% extends 'bookingapp/base.html' %}

{% block content %}

<div class="row g-4">
    <div class="col-md-7">
        <div class="glass-card p-4">
            <h3>Contact Us</h3>
            <form method="POST">
                {% csrf_token %}
                <input class="form-control mb-3" name="name" placeholder="Full Name">
                <input class="form-control mb-3" name="email" placeholder="Email">
                <textarea class="form-control mb-3" name="message" rows="4" placeholder="Message"></textarea>
                <button class="btn btn-success">Send Message</button>
            </form>
        </div>
    </div>

    <div class="col-md-5">
        <div class="glass-card p-4 text-center">
            <h5>Visit Us</h5>
            <p>Maharashtra, India</p>
            <p>+91 98765 43210</p>
            <p>support@sunshineresort.com</p>
        </div>
    </div>
</div>

{% endblock %}