{% extends 'bookingapp/base.html' %}

{% block content %}

<div class="row justify-content-center fade-in">
    <div class="col-md-8">

        <div class="glass-card p-5">

            <h2 class="text-center mb-4">Reserve Your Luxury Stay</h2>

            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label>Select Room</label>
                    {{ form.room }}
                    {{ form.room.errors }}
                </div>

                <div class="mb-3">
                    <label>Full Name</label>
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>

                <div class="mb-3">
                    <label>Email</label>
                    {{ form.email }}
                    {{ form.email.errors }}

                </div>

                <div class="mb-3">
                    <label>Check-in</label>
                    {{ form.check_in }}
                    {{ form.check_in.errors }}
                </div>

                <div class="mb-3">
                    <label>Check-out</label>
                    {{ form.check_out }}
                    {{ form.check_out.errors }}
                </div>

                <div class="mb-3">
                    <label>Persons</label>
                    {{ form.persons }}
                    {{ form.person.errors }}
                </div>

                <button type="submit" class="btn btn-success">
                    Confirm Booking
                </button>
            </form>

        </div>

    </div>
</div>

<style>
form input, form select {
    border-radius: 12px !important;
    padding: 10px;
}
</style>

{% endblock %}