{% extends 'bookingapp/base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow p-4 text-center">
            <h4 class="text-danger mb-3">Confirm Deletion</h4>

            <p>
                Are you sure you want to delete booking for
                <strong>{{ booking.name }}</strong>?
            </p>

            <p>
                {{ booking.check_in }} → {{ booking.check_out }}
            </p>

            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    Yes, Delete
                </button>
                <a href="{% url 'display_booking' %}"
                   class="btn btn-secondary">
                    Cancel
                </a>
            </form>
        </div>
    </div>
</div>

{% endblock %}