{% extends 'bookingapp/base.html' %}

{% block content %}

<h2 class="text-center mb-4">Booking Records</h2>

<div class="card shadow p-3">
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Room</th>
                    <th>Persons</th>
                    <th>Check-in</th>
                    <th>Check-out</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>
            {% for i in data %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.room.name }}</td>
                    <td>{{ i.persons }}</td>
                    <td>{{ i.check_in }}</td>
                    <td>{{ i.check_out }}</td>
                    <td>₹{{ i.total_price }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="6">No records found.</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}