{% extends 'bookingapp/base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-7">
        <div class="card shadow p-4">
            <h3 class="mb-4 text-center">Update Booking</h3>

            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label>Full Name</label>
                    <input type="text" name="name" value="{{ booking.name }}"
                           class="form-control" required>
                </div>

                <div class="mb-3">
                    <label>Email</label>
                    <input type="email" name="email" value="{{ booking.email }}"
                           class="form-control" required>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Check-in</label>
                        <input type="date" name="check_in"
                               value="{{ booking.check_in|date:'Y-m-d' }}"
                               class="form-control" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Check-out</label>
                        <input type="date" name="check_out"
                               value="{{ booking.check_out|date:'Y-m-d' }}"
                               class="form-control" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label>No. of Persons</label>
                    <input type="number" name="persons"
                           value="{{ booking.persons }}"
                           class="form-control" required>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-success">
                        Update Booking
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}